<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ilovecode.mycustomer">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddCustomer"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ilovecode.mycustomer.MainActivity" />
        </activity>
        <activity android:name=".UpdateCustomer"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ilovecode.mycustomer.MainActivity" />
        </activity>
        <activity android:name=".ViewCustomer"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ilovecode.mycustomer.MainActivity" />
        </activity>
        <activity android:name=".MainPage"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ilovecode.mycustomer.MainActivity" />
        </activity>
        <activity android:name=".ViewPage"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ilovecode.mycustomer.MainActivity" />
        </activity>
        <activity android:name=".Search"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ilovecode.mycustomer.MainActivity" />
        </activity>
        <activity android:name=".SearchPage"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ilovecode.mycustomer.MainActivity" />
        </activity>
    </application>

</manifest>